<html>
<head>
    <title><%= artist_object.name %> homepage!!</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
    <body>

        <h1><%= artist_object.name %></h1>

        <h3><%= artist_object.songs.size %> Song<%= if artist_object.songs.size > 1; 's'; end %></h3>
        <ul>
            <% artist_object.songs.each do |song| %>
            <li><a href="../songs/<%= song.url %>"><%= song.name %></a></li>
            <% end %>
        </ul>

        <h3>Genres</h3>
        <ul>
            <% artist_object.genres.each do |genre| %>
            <li><a href="../genres/<%= genre.name %>.html"><%= genre.name %></a></li>
            <% end %>
        </ul>

    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    </body>
</html>
