<html>
<head>
    <title>This is the page for <%= genre_object.name %></title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <h1><%= genre_object.name%>!!</h1>

    <h3>Artists of this genre</h3>
    <ul>
        <% genre_object.artists.each do |artist| %>
        <li><a href="../artists/<%= artist.url %>">
                <%= "#{artist.name}" %>
            </a>
                <%= " - " %>
            
            <% artist.songs.each do |song| %>
                <a href="../songs/<%= song.url %>"><%= song.name %></a>
            <% end %>

        </li>
        <% end %>
    </ul>

<% if false %>
    <h3>Songs of this genre</h3>
    <ul>
        <% genre_object.songs.each do |song| %>
        <li><a href="../songs/<%= song.url %>"><%= song.name %></a></li>
        <% end %>
    </ul>
<% end %>
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>

